  <div class="row">
  <div class="col-12">
    <img
     style="max-height:150px"
    [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group"
          appDropdown
    >
   <button id="btnGroupDrop1" type="button"
              class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item"
          (click)="onAddToShoppingList()" style="cursor:pointer;" >Add ingredients to shopping list</a>
        <a class="dropdown-item"  style="cursor:pointer;" (click)="onEditRecipe()">Edit recipe</a>
        <a class="dropdown-item"  style="cursor:pointer;" (click)="onDeleteRecipe()">Delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
       <ul class="list-group">
             <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                      {{ingredient.name}} - {{ingredient.amount}}
             </li>
       </ul>
  </div>
</div>
