<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email"
               placeholder="example@example.com"
               autocomplete="off"
               class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"
               placeholder="password"
               autocomplete="off"
               class="form-control" ngModel>
      </div>
      <button class="btn btn-primary" type="submit">Sign in!</button>
    </form>
  </div>
</div>
